<%= simple_form_for([ garden, plant ], remote: true) do |f| %>
  <%= f.input :name, placeholder: "Palm tree" %>
  <%= f.input :image_url, placeholder: "https://some_nice_image_found_on_google.jpg" %>
  <%= f.input :category %>
  <%= f.input :area, collection: Plant::AREAS, include_blank: "Select a geographic area" %>
  <%= f.input :fruit, label: 'Fruits ? Click here if it\'s make some' %>
  <%= f.input :flower_color, collection: Plant::COLORS, include_blank: "Select a color for the flower" %>
  <%= f.input :max_size, input_html: { min: '1' }, hint: "Must be greater than zero" %>
  <%= f.input :lifetime, input_html: { min: '1' }, hint: "Must be greater than zero"  %>
  <div class="form-actions">
    <%= f.submit "Add", class: "btn btn-flat" %>
  </div>
<% end %>
