<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= image_path('home_banner.jpg') %>)">
  <div class="container">
    <h1>My Garden Manager</h1>
    <p>Manage, Cultivate and Grow your Garden and your Experience</p>
    <%= link_to "Discover", "#how", class: "btn btn-flat" %>
  </div>
</div>

<div class="container">
  <div id="how" class="section">
    <h2 class="text-center">How does it work?</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- Fisrt icon -->
        <div class="icon">
          <%= image_tag "garden.svg" %>
        </div>
        <p class="text-center fs-24">Create your garden</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- Secon icon -->
        <div class="icon">
          <%= image_tag "circles.svg" %>
        </div>
        <p class="text-center fs-24">Add your plants</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <!-- Third icon -->
        <div class="icon">
          <%= image_tag "watering.svg" %>
        </div>
        <p class="text-center fs-24">Manage your daily activity</p>
      </div>
    </div>
  </div>
  <div id="our-gardens" class="section">
    <h2 class="text-center">Our Community Best Gardens</h2>
    <div class="cards">
      <% @gardens.each do |garden| %>
        <%= render "garden_card", garden: garden %>
      <% end %>
    </div>
  </div>
  <div id="create-garden" class="section">
    <div class="text-center">
      <button class="btn btn-flat open-symbole">Create a new garden</button>
      <%= render "form" %>
    </div>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus fugit perspiciatis, beatae neque molestias sit placeat cupiditate laboriosam natus distinctio modi asperiores impedit deserunt aliquam, ad nobis doloribus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus fugit perspiciatis, beatae neque molestias sit placeat cupiditate laboriosam natus distinctio modi asperiores impedit deserunt aliquam, ad nobis doloribus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim similique voluptatibus fugit perspiciatis, beatae neque molestias sit placeat cupiditate laboriosam natus distinctio modi asperiores impedit deserunt aliquam, ad nobis doloribus?</p>
  </div>
</div>
