<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="pt-30 container">
  <div class="cards">
    <% @garden.plants.each do |plant| %>
      <%= render "plants/plant_card", plant: plant %>
    <% end %>
  </div>
  <div class="pt-30 row justify-content-center">
    <div class="col-12 col-sm-10 col-lg-8">
      <h4 class="text-center">Add a plant</h4>
      <!-- form errors messages -->
      <% if @plant.errors.any? %>
        <%= render 'plants/errors', plant: @plant %>
      <% end %>
      <!-- form new plant -->
      <%= render 'plants/form', garden: @garden, plant: @plant %>
    </div>
  </div>
</div>
