<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="pt-30 container">
  <div class="cards">
    <% @garden.plants.each do |plant| %>
      <%= render "plants/plant_card", plant: plant %>
    <% end %>
  </div>
  <div class="pt-30 row justify-content-center">
    <div class="col-12 col-md-4">
      <h4 class="text-center">Add a plant</h4>
      <% if @plant.errors.any? %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p>
            Sorry! But <%= pluralize(@plant.errors.count, "error") %> prevented the plant being saved:
          </p>
          <ul>
            <% @plant.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
          <p>
            Please try again after correction
          </p>
        </div>
      <% end %>
      <!-- form new plant -->
      <%= render 'plants/form', garden: @garden, plant: @plant %>
    </div>
  </div>
</div>
